<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Eventos :: Lista</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<header>
		<h1>Lista de Eventos</h1>
	</header>
	<main>
		<nav id="menu">
			<ul>
				<li>
					<a href="/eventos" class="active">Lista de Eventos</a>
				</li>
				<li>
					<a href="/eventos/novo">Cadastro de Eventos</a>
				</li>
				<li>
					<a href="/usuarios/novo">Cadastro de Usuários</a>
				</li>
				<li>
					<a href="/logout">Sair</a>
				</li>
			</ul>
		</nav>
		<p class="welcomeMsg">Welcome, <%= user.nome %></p>
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Descrição</th>
					<th>Data</th>
					<th>Preço</th>
				</tr>
			</thead>
			<tbody>
				<% eventosList.forEach(function(evento, index){ %>
				<tr>
					<td><%= evento.descricao %></td>
					<td><%= momentParam(evento.data).format("DD/MM/YYYY") %></td>
					<td>R$ <%= evento.preco %></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</main>
</body>

</html>