<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos :: Lista</title>
</head>

<body>
    <header>
        <h1>Lista de eventos</h1>
        <nav>
            <a href="/logout">Sair</a>
        </nav>
    </header>
    <main>
        <nav>
            <ul>
                <li>
                    <a href="/eventos">Lista de Eventos</a>
                </li>
                <li>
                    <a href="/eventos/novo">Cadastro de Eventos</a>
                </li>
                <li>
                    <a href="/usuarios/novo">Cadastro de Usuários</a>
                </li>
            </ul>
        </nav>
        <p>Welcome, <%= user.nome %></p>
    </main>
    <table style="width:20%">
        <tr>
          <th>Evento</th>
          <th>Data</th>
          <th>Preço</th>
        </tr>
        <tr>
          <td>Churrasquinho</td>
          <td>20/12/2024</td>
          <td>R$ 50</td>
        </tr>
        <tr>
          <td>Carnaval</td>
          <td>15/2/2025</td>
          <td>R$ 430</td>
        </tr>
      </table>
      


</body>

</html>