<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
</head>
<body>
    <h1>Novos Eventos</h1>
    <h2>Cadastre o seu evento aqui</h2>
    <form action="/login" method="post" class="formulario">
        <div>
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="evento[titulo]">
        </div>
        <div>
            <label for="data">Data:</label>
            <input type="date" id="data" name="evento[data]">
        </div>
        <div>
            <label for="preco">Preço:</label>
            <input type="number" id="preco" name="evento[preco]">
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</body>
</html>