<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Eventos</title>
  </head>
  <body>
    <section class="container">
      <h1>Cadastrar Usuário</h1>

      <form action="/usuarios/criar" method="post" class="formulario">
        <div>
          
          <input type="text" id="nome" name="usuario[nome]" class="display" placeholder="Nome" />
        </div>
        <div>
        
          <input type="password" id="senha" name="usuario[senha]" class="display" placeholder="Senha" />
        </div>
        <div>
          
          <input type="password" id="senha" name="usuario[confirmarSenha]" class="display" placeholder="Confirmar Senha" />
        </div>
        <div>
          <button type="submit">Cadastrar</button>
        </div>
      </form>
    </section>
  </body>
</html>
