* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(65,9,121,1);
  background: linear-gradient(180deg, rgba(29,0,36,1) 0%, rgba(65,9,121,1) 35%, rgba(222,0,255,1) 100%);
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
}

a {
  color: white;
}
