<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <header>
            <h1>Listas de eventos</h1>
            <nav>
                <a href="/logout">Sair</a>
            </nav>
    </header>
    <main>
        <nav>
            <ul>
                <li>
                    <a href="/eventos">Lista de eventos</a>
                </li>
                <li>
                    <a href="/eventos/novo">Cadastro de eventos</a>
                </li>
                <li>
                    <a href="/usuarios/novo">Cadastro de usuários</a>
                </li> 
            </ul>
        </nav>
    </main>
    <p>Welcome <%= user.nome %></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Data</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Teste</td>
                <td>xx/xx/xxxx</td>
                <td>R$ xx,xx</td>
            </tr>
        </tbody>
    </table>        

</body>
</html>