<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" class="formulario">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="evento[titulo]" />
            </div><br><br>
            <div>
                <label for="data">Data</label>
                <input type="date" id="data"  name="evento[data]" />
            </div><br><br>
            <div>
                <label for="preco">Preço</label>
                <input type="number" id="preco"  name="evento[preco]" />
            </div><br><br>
            <div>
                <button type="submit">Salvar evento</button>
            </div><br><br>
        </form></body>
    </body>
</html>